<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Главная</title>
    <link rel="stylesheet" href="css/main.css">

    <!--[if IE 9]>
    <script>
        window.location = "oldbrowser/index.html";
    </script>
    <![endif]-->
</head>
<body>

<section class="top-line">
    <div class="uk-container">
        <div class="uk-float-left">
            <span>
                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                ТЕЛ. ДЛЯ СПРАВОК:
                <a href="tel:+996 312 556 046">+996 312 556 046</a>
            </span>
            <span>АДРЕС: ул. Тимура-Фрунзе 100</span>
        </div>
        <div class="uk-float-right">
            <a href="" >Мой аккаунт / Имя / Выйти</a>
            <span class="uk-margin-small-right uk-icon" uk-icon="icon: search" uk-toggle="target: #modal-full" uk-toggle></span>
        </div>
    </div>
    <div id="modal-full" class="uk-modal-full uk-modal" uk-modal>
        <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
            <button class="uk-modal-close-full close-search" type="button" uk-close></button>
            <form class="uk-search uk-search-large">
                <input class="uk-search-input uk-text-center" type="search" placeholder="Поиск..." autofocus>
            </form>
        </div>
    </div>
</section>

<header>
    <nav class="uk-container uk-visible@l">
        <div class="uk-grid">
            <div class="uk-width-auto ">
                <a class="uk-logo" href="#">
                    <img src="img/logo.png" alt="">
                </a>
            </div>
            <div class="uk-width-expand">
                <ul class="nav-catalog">
                    <li>
                        <button class="uk-button uk-button-defaul" type="button">ЖЕНЩИНАМ <span class="uk-icon" uk-icon="icon: chevron-down"></span></button>
                        <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300; mode: click; mode: hover">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="">Манго-ZARA</a></li>
                                <li><a href="">MiXX</a></li>
                                <li><a href="">Emporio-Armani</a></li>
                                <li><a href="">APART, ESPRIT, VERO MODA</a></li>
                                <li><a href="">JOOP</a></li>
                                <li><a href="">MOSCHINO</a></li>
                                <li><a href="">Женская обувь</a></li>
                                <li><a href="">Versace</a></li>
                                <li><a href="">Новые поступления</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class="uk-button uk-button-defaul" type="button">МУЖЧИНАМ <span class="uk-icon" uk-icon="icon: chevron-down"></span></button>
                        <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300; mode: click; mode: hover">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="">Манго-ZARA</a></li>
                                <li><a href="">MiXX</a></li>
                                <li><a href="">Emporio-Armani</a></li>
                                <li><a href="">APART, ESPRIT, VERO MODA</a></li>
                                <li><a href="">JOOP</a></li>
                                <li><a href="">MOSCHINO</a></li>
                                <li><a href="">Женская обувь</a></li>
                                <li><a href="">Versace</a></li>
                                <li><a href="">Новые поступления</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class="uk-button uk-button-defaul" type="button">ДЕТЯМ <span class="uk-icon" uk-icon="icon: chevron-down"></span></button>
                        <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300; mode: click; mode: hover">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="">Манго-ZARA</a></li>
                                <li><a href="">MiXX</a></li>
                                <li><a href="">Emporio-Armani</a></li>
                                <li><a href="">APART, ESPRIT, VERO MODA</a></li>
                                <li><a href="">JOOP</a></li>
                                <li><a href="">MOSCHINO</a></li>
                                <li><a href="">Женская обувь</a></li>
                                <li><a href="">Versace</a></li>
                                <li><a href="">Новые поступления</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class="uk-button uk-button-defaul" type="button">ТОВАРЫ ДЛЯ КУХНИ <span class="uk-icon" uk-icon="icon: chevron-down"></span></button>
                        <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300; mode: click; mode: hover">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="">Манго-ZARA</a></li>
                                <li><a href="">MiXX</a></li>
                                <li><a href="">Emporio-Armani</a></li>
                                <li><a href="">APART, ESPRIT, VERO MODA</a></li>
                                <li><a href="">JOOP</a></li>
                                <li><a href="">MOSCHINO</a></li>
                                <li><a href="">Женская обувь</a></li>
                                <li><a href="">Versace</a></li>
                                <li><a href="">Новые поступления</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="uk-button uk-button-defaul" href="">СПОРТ</a></li>
                    <li><a class="uk-button uk-button-defaul" href="">АКСЕССУАРЫ</a></li>
                </ul>
                <ul class="url-page">
                    <li><a href="">Новости</a></li>
                    <li><a href="">FAQs</a></li>
                    <li><a href="">Контакты</a></li>
                    <li><a href="">О нас</a></li>
                    <li><a href="">Доставка и оплата</a></li>
                    <li><a href="">Как сделать заказ?</a></li>
                </ul>
                <div class="basket" title="Корзина" uk-tooltip="pos: bottom">
                    <span class="uk-badge">22</span>
                    <a href="">
                        <span class="uk-icon" uk-icon="icon: cart"></span>
                    </a>
                </div>
                <div class="favorite" title="Избранные" uk-tooltip="pos: bottom">
                    <span class="uk-badge">22</span>
                    <a href="">
                        <span class="uk-icon" uk-icon="icon: heart"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <!--start mobile nav-->
    <nav class="uk-hidden@l mobile-nav">
        <nav class="uk-navbar uk-navbar-container">
            <div class="uk-navbar-left">
                <a class="" href="#">
                    <img src="img/logo.png" alt="">
                </a>
            </div>
            <div class="uk-navbar-right">
                <a class="uk-navbar-toggle" href="#" uk-toggle="target: #offcanvas-push">
                    <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Меню</span>
                </a>
            </div>
        </nav>
        <div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
            <div class="uk-offcanvas-bar uk-padding-large uk-flex-right">
                <button class="uk-offcanvas-close cs-close-mobile" type="button" uk-close></button>
                <ul class="uk-nav uk-nav-default">
                    <li class="uk-active"><a href="#">АКЦИИ</a></li>
                    <li><a href="#">ЗАЛЫ</a></li>
                    <li><a href="#">КИНОБАР</a></li>
                    <li><a href="#">ОНЛАЙН ПОКУПКА</a></li>
                    <li><a href="#">ГАЛЕРЕЯ</a></li>
                    <li><a href="#">О НАС</a></li>
                    <li><a href="#">КОНТАКТЫ</a></li>
                    <li><a href="#">0312 30 60 90</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--end mobile nav-->

</header>

<section class="slick-fade-carousel">
    <div class="item">
        <img src="img/slider1.jpg" alt="">
    </div>
    <div class="item">
        <img src="img/slider2.jpg" alt="">
    </div>
    <div class="item">
        <img src="img/slider1.jpg" alt="">
    </div>
</section>

<section class="catalog-company">
    <div class="uk-container">
        <div class="uk-grid-small uk-margin-remove uk-child-width-1-2@l uk-child-width-1-2@m uk-grid">
            <div class="item">
                <div class="title">
                    <h3><a href="">Манго-ZARA</a></h3>
                </div>
                <div class="img-wrapper">
                    <a href="">
                        <img src="img/company2.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <h3><a href="">Манго-ZARA</a></h3>
                </div>
                <div class="img-wrapper">
                    <a href="">
                        <img src="img/company.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <h3><a href="">Манго-ZARA</a></h3>
                </div>
                <div class="img-wrapper">
                    <a href="">
                        <img src="img/company2.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <h3><a href="">Манго-ZARA</a></h3>
                </div>
                <div class="img-wrapper">
                    <a href="">
                        <img src="img/company.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <h3><a href="">Манго-ZARA</a></h3>
                </div>
                <div class="img-wrapper">
                    <a href="">
                        <img src="img/company.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-magazin">
    <div class="uk-container">
        <h1>Интернет-магазин брендовой одежды в Бишкеке - mybrands.kg</h1>
        <i></i>
        <p>Интернет магазин mybrands.kg предоставляет возжномость жителям города Бишкек приобретать одежду известных
            торговых бредов прямо из Европы и Америки. На данный момент сайт обладает ассортиментом из 30 известных
            бредов по всему миру. Pepe Jeans,Michael Kors,Hugo
            Boss,Joop,Armani,Napapijri,Versage,Moschino,Guess,Pantofola D"ORO,Porsche Design sport by Adidas,Mango, Zara
            и многие другие.</p>
        <p>Мы даем возможность одеваться по последним трендам моды известных брендов, заботимся о доступности в цене и о
            высоком качетсве продукта. Мы предоставляем только оригинальные вещи от всемирно известных производителей.
            Мы подходим к каждому клиенту, к каждому случаю персонально. Каждый покупатель – особенный. И мы постоянно
            поддерживаем с ним обратную связь, чем улучшаем качество обслуживания.</p>
        <p>Наши стилисты одежды собирают самые лушие&nbsp;колеции на сайте, чтобы каждый наш клиент выглядел актуально,
            стильно и при этом мог носить качетсвенные вещи не тратя на это слишком много времени.</p>
        <p>Все товары на сайте в эксклюзивном количестве.</p>
        <p>Для постоянных зарегистрированных клиентов мы предлагаем приятные накопительные скидки.</p>
        <p>Мы располагаем колекцией не только для женщин, но и для элегатных мужчин и&nbsp;детей.</p>
        <p>Товары на сайте являются 100% оригиналами!!!&nbsp;При заказе одежды и акссесуаров на данном этапе&nbsp;доставка
            осуществляется курьером в течении 3-4 недель с момента оплаты.&nbsp;Наш интернет - магазин осуществляет&nbsp;&nbsp;бесплатную
            доставку по городу Бишкек.</p>
    </div>
</section>

<footer>
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-3@l uk-grid-small uk-margin-remove">
            <div class="item">
                <img src="img/shop.png" alt="">
                <p class="shop">В этом ходит Голливуд! Одеваться звёздно! Выглядеть эксклюзивно и дорого! Теперь у вас есть такая
                    возможность! Компания mybrands.kg — это крупный интернет-магазин модной,шикарной,эксклюзивной,
                    мультибрендовой мужской,женской и детской одежды, обуви ,аксессуаров и товаров для дома из Европы и
                    Америки!В нашем ассортименте более 100 ...</p>
                <a href="" class="see-more"><span class="uk-margin-small-right uk-icon" uk-icon="icon: chevron-right"></span>Подробнее</a>
            </div>
            <div class="item">
                <h2>ПОСЛЕДНИЕ НОВОСТИ</h2>
                <ul class="news">
                    <li>
                        <a href=""></a>
                        <div class="img-wrapper">
                            <img src="img/f1.jpg" alt="">
                        </div>
                        <div class="description">
                            <h3>Новости Apple</h3>
                            <p>1.  Некоммерческая организация Electronic Frontier Founda...</p>
                            <span>29 июня 2015 в 1:14</span>
                        </div>
                    </li>
                    <li>
                        <a href=""></a>
                        <div class="img-wrapper">
                            <img src="img/f1.jpg" alt="">
                        </div>
                        <div class="description">
                            <h3>Новости Apple</h3>
                            <p>1.  Некоммерческая организация Electronic Frontier Founda...</p>
                            <span>29 июня 2015 в 1:14</span>
                        </div>
                    </li>
                    <li>
                        <a href=""></a>
                        <div class="img-wrapper">
                            <img src="img/f1.jpg" alt="">
                        </div>
                        <div class="description">
                            <h3>Новости Apple</h3>
                            <p>1.  Некоммерческая организация Electronic Frontier Founda...</p>
                            <span>29 июня 2015 в 1:14</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="item">
               <h2>НАВИГАЦИЯ ПО САЙТУ</h2>
                <ul class="navigation">
                    <li><a href="">Новости</a></li>
                    <li><a href="">FAQs</a></li>
                    <li><a href="">Контакты</a></li>
                    <li><a href="">О нас</a></li>
                    <li><a href="">Доставка и оплата</a></li>
                    <li><a href="">Как сделать заказ?</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="js/main.js"></script>

</body>
</html>