{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Доставка{% endblock %}

{% block content %}
    <div class="uk-container uk-container-large uk-margin-medium-top">
        <ul class="uk-breadcrumb uk-flex-middle uk-flex">
            <li><a href="{% url 'client_app:index' %}"><span uk-icon="icon: home"></span></a></li>
            <li><span>Доставка</span></li>
        </ul>
    </div>
    <section class="left-menu uk-margin-medium-top">
        <div class="uk-container uk-container-large">
            <div class="uk-grid uk-grid-large" uk-grid>
                <div class="uk-width-1-6@l uk-width-1-4@m">
                    <div class="uk-box-shadow-hover-xlarge side-bar uk-card-default">
                        {% include 'app/partial/static-pages-sidebar.html' %}
                    </div>
                </div>
                <div class="uk-width-expand">
                    <h1 class="title_border-left">доставка</h1>
                    <div class="delivery uk-box-shadow-hover-xlarge uk-padding uk-card-default">
                        <ul uk-accordion>
                            {% for item in info %}
                            <li{% if forloop.counter0 == 0 %} class="uk-open"{% endif %}>
                                <h3 class="uk-accordion-title">{{ item.key }}</h3>
                                <div class="uk-accordion-content">
                                    <p>{{ item.value }}</p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}