env_params = {
    'database': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'my_brands',
        'USER': 'postgres',
        'PASSWORD': 'postgres',
        'HOST': '127.0.0.1'
    },
    'email.login': '',
    'email.password': ''
}
